._ {
   &.elps_1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  // 需要另外设置行数
   &.elps_mul {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  for num in 2...6 {
    &.elps_{num} {
      @extend ._.elps_mul;
      line-clamp: num;
      -webkit-line-clamp: num;
    }
  }
}