._ {
  &.flex {
    display: flex;
  }
  &.jstf-c_center {
    justify-content: center;
  }
  &.jstf-c_evenly {
    justify-content: space-evenly;
  }
  &.jstf-c_between {
    justify-content: space-between;
  }
  &.jstf-c_around {
    justify-content: space-around;
  }
  &.flex_c {
    @extend ._.flex;
    align-items: center;
  }
  &.flex_c-c {
    @extends ._.flex_c,._.jstf-c_center ;
  }
  &.flex_c-between {
    @extends ._.flex_c,._.jstf-c_between;
  }
  &.flex_c-evenly {
    @extends ._.flex_c,._.jstf-c_evenly;
  }
  &.flex_c-around {
    @extends ._.flex_c,._.jstf-c_around;
  }
  &.flex_col {
    @extends ._.flex;
    flex-direction: column;
  }
  &.flex_col-c {
    @extends ._.flex_c;
    flex-direction: column;
  }
  &.flex_col-c-c {
    @extends ._.flex_c-c;
    flex-direction: column;
  }
  &.flex_col-between {
    @extends ._.flex_col, ._.jstf-c_between;
  }
  &.flex_col-c-between {
    @extends ._.flex_col-c, ._.jstf-c_between;
  }
  &.flex_col-evenly {
    @extends ._.flex_col, ._.jstf-c_evenly;
  }
  &.flex_col-c-evenly {
    @extends ._.flex_col-c, ._.jstf-c_evenly;
  }
  &.flex_col-c-around {
    @extends ._.flex_col-c, ._.jstf-c_evenly;
  }
  &.flex_1 {
    flex: 1;
  }
  &.align-sf_end {
    align-self: flex-end;
  }
  &.align-sf_start {
    align-self: flex-start;
  }
}