._ {
  &.btn:not(.disabled):not(.active):not([disabled]) {
    cursor: pointer;
  }
  &.w-p100 {
    width: 100%;
  }
  &.h-p100 {
    height: 100%;
  }
  &.wh-p100 {
    @extends ._.w-p100,._.h-p100;
  }
  &.img-box {
    > img {
      display: block;
      @extend ._.wh-p100;
    }
  }
}