._ {
  &.pos-fixed, &.fixed {
    position: fixed;
  }
  &.pos-static, &.static {
    position: static;
  }
  &.pos-abs, &.abs {
    position: absolute;
  }
  &.pos-rel, &.relative {
    position: relative;
  }
  &.pos-sticky, &.sticky {
    position: sticky;
  }
  &.astronaut {
    @extends ._.fixed;
    top: -99999999px;
    left: -99999999px;
  }
  &.abs-t {
    @extend ._.abs;
    top: 0;
  }
  &.abs-b {
    @extend ._.abs;
    bottom: 0;
  }
  &.abs-l {
    @extend ._.abs;
    left: 0;
  }
  &.abs-r {
    @extend ._.abs;
    right: 0;
  }
  &.abs-tl {
    @extends ._.abs-t, ._.abs-l;
  }
  &.abs-tr {
    @extends ._.abs-t, ._.abs-r;
  }
  &.abs-bl {
    @extends ._.abs-b, ._.abs-l;
  }
  &.abs-br {
    @extends ._.abs-b, ._.abs-r;
  }
  &.lr-c {
    @extends ._.abs-l, ._.abs-r;
    margin-left: auto;
    margin-right: auto;
  }
  &.tb-c {
    @extends ._.abs-t, ._.abs-b;
    margin-top: auto;
    margin-bottom: auto;
  }
  &.pos-trans-c {
    @extends ._.abs;
    left: 50%;
    transform: translateX(-50%);
  }
  &.pos-trans-vc {
    @extends ._.abs;
    top: 50%;
    transform: translateY(-50%);
  }
  &.pos-trans-c-c {
    @extends ._.abs;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}