._ {
  &.pos_fixed, &.fixed {
    position: fixed;
  }
  &.pos_static, &.static {
    position: static;
  }
  &.pos_abs, &.abs {
    position: absolute;
  }
  &.pos_rel, &.rel {
    position: relative;
  }
  &.pos_sticky, &.sticky {
    position: sticky;
  }
  $tblr = t b l r;
  $TBLR = top bottom left right;
  // .l_0{left:0;} .l_p100{left: 100%;}...
  for v,k in $TBLR {
    &.{ $tblr[k] + '_0'} {
      {v}: 0;
    }
    &.{$tblr[k] +'_p100'} {
      {v}: 100%;
    }
  }
  &.astronaut {
    @extends ._.fixed;
    top: -99999999px;
    left: -99999999px;
  }
  // ↑
  &.abs_t {
    @extends ._.abs, ._.t_0;
  }
  // ↓
  &.abs_b {
    @extends ._.abs, ._.b_0;
  }
  // ←
  &.abs_l {
    @extends ._.abs, ._.l_0;
  }
  // →
  &.abs_r {
    @extends ._.abs, ._.r_0;
  }
  // ←↑
  &.abs_tl {
    @extends ._.abs_t, ._.abs_l;
  }
  // ↑→
  &.abs_tr {
    @extends ._.abs_t, ._.abs_r;
  }
  // ←↓
  &.abs_bl {
    @extends ._.abs_b, ._.abs_l;
  }
  // ↓→
  &.abs_br {
    @extends ._.abs_b, ._.abs_r;
  }
  // ←→
  &.lr_c {
    @extends ._.l_0, ._.r_0;
    margin-left: auto;
    margin-right: auto;
  }
  // ↑↓
  &.tb_c {
    @extends ._.t_0, ._.b_0;
    margin-top: auto;
    margin-bottom: auto;
  }
  &.trans_c {
    left: 50%;
    transform: translateX(-50%);
  }
  &.trans_vc {
    top: 50%;
    transform: translateY(-50%);
  }
  // ←→↑↓
  &.trans_c-c {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  // z-index
  for num in 1...5 {
    &.z-idx_{num}0 {
      z-index: (num*10);
    }
  }
}