._ {
  // 4等份
  $len = 4;
  for num in (1..$len) {
    // p => percent百分比
    $p = num*25;
    &.h-p{$p} {
      height: floor(percentage(num / $len), 6); // 保留6位小数
    }
    &.w-p{$p} {
      width: floor(percentage(num / $len), 6);
    }
  }
}